body {
  background-image: url(/pictures/baggrund.png);
}

.nytaarsmenu {
  text-align: center;
  color: #60886c;
}

/* --------linjerne mellem retterne på menuen-------- */
hr {
  height: 1px;
  max-width: 8%;
  background-color: #60886c;
}
.lang_hr {
  height: 1px;
  max-width: 15%;
  background-color: #60886c;
}
