/* nav {
  background-color: #3a24f0;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0px;
}

p {
  margin: 2rem;
  padding: 9rem;
} */

/* ---Generel styling --- */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background-color: #fffffb;
}

header {
  color: #a4c392;
  display: flex;
  justify-content: space-between;
}

li,
a {
  font-family: "Lato", sans-serif;
  font-style: bold;
  font-weight: 500;
  font-size: 16px;
  color: #fffffb;
  text-decoration: none;
  list-style: none;
}

#nav_bar {
  position: sticky;
  top: 0;
  scroll-behavior: smooth;
  background-color: #a4c392;
}

/* .menu_link a:hover {
  Styles for the link when it is hovered over
  background-color: #fff;
  color: #000;
} */

a {
  text-decoration-line: none;
}

/* unvisited link */

.button:link {
  color: black;
}

/* visited link */

.button:visited {
  color: black;
}

/* mouse over link */

.button:hover {
  color: lightskyblue;
}

/* selected link */

.button:active {
  color: blue;
}
